@using System.Security.Claims;

@model TabloidMVC.Models.ViewModels.PostDetailsViewModel

@{
    ViewData["Title"] = $"Post - {Model.Post.Title}";
}

@{
    string content = @Model.Post.Content.Trim();
    string[] words = content.Split(new[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);
    int wordCount = words.Length;
    int readTime = (int)Math.Ceiling((double)wordCount / 265);
}

<div class="container pt-5">
    <div class="post">
        <section class="px-3">
            <div class="row justify-content-between">
                <h1 class="text-secondary">@Model.Post.Title</h1>
                <h1 class="text-black-50">@Model.Post.Category.Name</h1>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-secondary">Written by @Model.Post.UserProfile.DisplayName</p>
                    @{
                        if (Model.Post.UserProfileId != int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) && Model.ActiveSubscription == null)
                        {
                            <a href="@Url.Action("CreateSubscription", "Post", new { providerId = Model.Post.UserProfileId })">Subscribe to @Model.Post.UserProfile.DisplayName</a>
                        }
                        if (Model.Post.UserProfileId != int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) && Model.ActiveSubscription != null)
                        {
                            <a href="@Url.Action("DeleteSubscription", "Post", new {subToEndId = Model.ActiveSubscription.Id} )">Unsubscribe</a>
                        }
                    }
                </div>
                <div class="col justify-content-end text-right">
                    <p class="text-black-50">Published on @Html.DisplayFor(model => model.Post.PublishDateTime)</p>
                    @if (readTime == 1)
                    {
                        <p class="text-black-50">Estimated read time: 1 minute</p>
                    }
                    else
                    {
                        <p class="text-black-50">Estimated read time: @readTime minutes</p>
                    }
                </div>
            </div>
            <div class="row">
                <a asp-action="Edit" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Edit">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </section>
        <hr />
        @if (!string.IsNullOrWhiteSpace(Model.Post.ImageLocation))
        {
            <section class="row justify-content-center">
                <div>
                    <img src="@Model.Post.ImageLocation" />
                </div>
            </section>
        }
        <section class="row post__content">
            <p class="col-sm-12 mt-5">@Html.DisplayFor(model => model.Post.Content)</p>
        </section>
    </div>
</div>
